div.outer_div {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid red;
  height: 20px;
  width: 20px;
  background-color: red;
}

div.dv_table {
  display: none;
  position: relative;
}
